@model WebApplication1.ViewModels.Messaging.MessagingViewModel[]

@section scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script type=text/javascript>
        var idGroup = @ViewBag.IdGroup;
    </script>
    <script src="~/lib/site/Messaging/index.js"></script>
}

<div class="modal fade" id="warningRemoveModal" tabindex="-1" role="dialog" aria-labelledby="warningRemoveModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningRemoveModalTitle">Внимание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить данный сценарий?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <button type="button" class="btn btn-primary" id="warningRemoveModalYesButton">Да</button>
            </div>
        </div>
    </div>
</div>

<h3 class="text-center">Назначенные рассылки</h3>
@{
    bool hasElements = Model?.Any() ?? false;
}
<h5>
    @if (!hasElements)
    {
        <text>Назначенных рассылок нет.</text>
    }
    <a asp-action="Create">
        Добавить@{if (!hasElements)
            {<text> первую</text>} }
    </a>
</h5>

@if (hasElements)
{
    foreach (var item in Model)
    {
        <div data-idMessaging="@item.IdMessaging" class="container bg-light">
            <div style="float: left">
                <p>@item.Name</p>
                <br />

                <span>Получателей: </span>
                <span style="color: green">@item.RecipientsCount</span>
            </div>
            <div style="float: right">
                <span>Добавлено: </span>
                <span style="color: blue">@item.DtAdd.ToLocalTime().ToString("dd.MM.yyyy в HH:mm")</span>
                <br />

                <span>Запуск: </span>
                <span style="color: blue">@item.DtStart.ToLocalTime().ToString("dd.MM.yyyy в HH:mm")</span>
            </div>
            <br clear="all" />

            <div class="text-center messagingStatus">
                <span>Статус рассылки: </span>
                <b>
                    @switch (item.Status)
                    {
                        case WebApplication1.Models.Database.Common.MessagingStatus.Added:
                            {
                                <span style="color: blue">ожидание</span>
                                break;
                            }
                        case WebApplication1.Models.Database.Common.MessagingStatus.InProgress:
                            {
                                <span style="color: orange">выполняется</span>
                                break;
                            }
                    }
                </b>
            </div>

            <div class="progress" style="margin-bottom: 10px" hidden>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning sendingProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 100%"></div>
            </div>

            <div class="rounded d-table p-2 bg-dark text-white">
                @item.Message
            </div>
            <br />

            <div class="text-center">
                <div>
                    <span>Клавиатура: </span>
                    <b>
                        <span>
                            @if (item.HasKeyboard)
                            {
                                <text>есть</text>
                            }
                            else
                            {
                                <text>нет</text>
                            }
                        </span>
                    </b>
                </div>

                <div>
                    <span>Изображения: </span>
                    <b>
                        <span>
                            @if (item.HasImages)
                            {
                                <text>есть</text>
                            }
                            else
                            {
                                <text>нет</text>
                            }
                        </span>
                    </b>
                </div>
            </div>

            @if (item.Status != WebApplication1.Models.Database.Common.MessagingStatus.InProgress)
            {
                <div class="btn-group" role="group">
                    @using (Html.BeginForm("Edit", "Messaging", new { idMessaging = @item.IdMessaging }))
                    {
                        <button type="submit" class="btn btn-info">Редактировать</button>
                    }
                    <button type="button" class="btn btn-danger removeMessagingButton" data-toggle="modal" data-target="#warningRemoveModal">Удалить</button>
                </div>
            }
            <br /><hr /><br />
        </div>
    }
}
