@model SellerBox.ViewModels.Subscribers.SubscriberCardViewModel

@section Scripts {
    <script src="~/lib/site/Subscribers/checkers.js"></script>
}

<h4>Профиль пользователя</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h5>
                    <a target="_blank" href="@Model.Link">
                        @Html.DisplayFor(model => model.Name)
                    </a>
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <img src="@Model.Photo" />
            </div>
        </div>
        <div class="col">
            <div>
                <strong>@Html.DisplayNameFor(model => model.Sex)</strong>
            </div>
            <div>
                @if (!Model.Sex.HasValue)
                {
                    <text>Неизвестно</text>
                }
                else if (Model.Sex.Value)
                {
                    <text>Мужской</text>
                }
                else
                {
                    <text>Женский</text>
                }
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Country)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Country)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.City)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.City)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Birthday)</strong>
            </div>
            <div>
                @if (Model.Birthday.HasValue)
                {
                    @if (Model.Birthday.Value.Year == DateTime.MinValue.Year)
                    {
                        @Model.Birthday.Value.ToLocalTime().ToString("dd MMMM")
                    }
                    else
                    {
                        @Model.Birthday.Value.ToLocalTime().ToString("dd MMMM yyyy")
                    }
                }
                else
                {
                    <text>Неизвестно</text>
                }
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.DtAdd)</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.DtAdd)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.IsChatAllowed)</strong>
            </div>
            <div>
                @if (Model.IsChatAllowed.HasValue)
                {
                    if (Model.IsChatAllowed.Value)
                    {
                        <text>да</text>
                    }
                    else
                    {
                        <text>нет</text>
                    }
                }
                else
                {
                    <a href="#" data-idVk="@Model.IdVk" class="updateIsChatAllowed">
                        Неизвестно
                    </a>
                }
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.IsSubscribedToGroup)</strong>
            </div>
            <div>
                @if (Model.IsSubscribedToGroup.HasValue)
                {
                    if (Model.IsSubscribedToGroup.Value)
                    {
                        <text>да</text>
                    }
                    else
                    {
                        <text>нет</text>
                    }
                }
                else
                {
                    <a href="#" data-idVk="@Model.IdVk" class="updateIsSubscriber">
                        Неизвестно
                    </a>
                }
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.IsUnsubscribed)</strong>
            </div>
            <div>
                @if (Model.IsUnsubscribed)
                {
                    <text>да</text>
                }
                else
                {
                    <text>нет</text>
                }
            </div>
            @if (Model.IsUnsubscribed)
            {
                <div>
                    <strong>@Html.DisplayNameFor(model => model.DtUnsubscribe)</strong>
                </div>
                <div>
                    @Html.DisplayFor(model => model.DtUnsubscribe)
                </div>
            }
            <div>
                <strong>@Html.DisplayNameFor(model => model.IsBlocked)</strong>
            </div>
            <div>
                @if (Model.IsBlocked)
                {
                    <text>да</text>
                }
                else
                {
                    <text>нет</text>
                }
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="RefreshFromVk" asp-controller="Subscribers" asp-route-idSubscriber="@ViewBag.IdSubscriber">Обновить с VK</a>
    |
    <a asp-action="Index">Назад к списку</a>
</div>
