@model SellerBox.ViewModels.Statistics.MessagesViewModel

@{
    var Y1Values = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MessagesPerDay.Select(x => x.Sended).ToList());
    var Y2Values = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MessagesPerDay.Select(x => x.Received).ToList());
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MessagesPerDay.Select(x => x.Date.ToString("dd MMMM yyyyг.")).ToList());

    string[] backgroundColors = new string[]
    {
        "rgba(255, 0, 0, 1)",
        "rgba(0, 0, 255, 1)"
    };
}

@section scripts {
    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script>
        var barChartData = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                label: 'Отправлено',
                backgroundColor: '@Html.Raw(backgroundColors[0])',
                data: @Html.Raw(Y1Values)
            },
                {
                label: 'Получено',
                backgroundColor: '@Html.Raw(backgroundColors[1])',
                data: @Html.Raw(Y2Values)
            }]
        };

        window.onload = function () {
            var ctx = document.getElementById('chart').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };
    </script>
}

<h2>Статистика по сообщениям</h2>

<div class="box-body" @{if (Model.TotalReceived == 0 && Model.TotalSended == 0) { <text> hidden</text>} }>
    <div class="chart-container">
        <canvas id="chart" style="width:100%; height:500px"></canvas>
    </div>
</div>

<h4>Всего:</h4>
<div style="display: flex; margin-left: 40px">
    <div style="height: 16px;  width: 16px; background-color: @Html.Raw(backgroundColors[0]); margin-right: 5px; margin-top: 4px"></div>
    Получено сообщений: @Model.TotalReceived
</div>
<div style="display: flex; margin-left: 40px">
    <div style="height: 16px;  width: 16px; background-color: @Html.Raw(backgroundColors[1]); margin-right: 5px; margin-top: 4px"></div>
    Отправлено сообщений: @Model.TotalSended
</div>
