@model SellerBox.ViewModels.ShortUrls.EditViewModel

@{
    ViewData["Title"] = "Edit";
}

@section scripts {
    <script src="~/lib/site/ShortUrls/edit.js"></script>
}

<form asp-action="Save" asp-controller="ShortUrls" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.Id.HasValue)
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    }

    <div class="input-group">
        <div class="input-group-prepend">
            <label asp-for="Name" class="input-group-text"></label>
        </div>
        <input asp-for="Name" type="text" class="form-control" aria-label="Название" placeholder="Название горячей ссылки">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <label asp-for="RedirectTo" class="input-group-text"></label>
        </div>
        <input asp-for="RedirectTo" type="text" class="form-control" aria-label="Направление" placeholder="Направление горячей ссылки">
    </div>

    <div class="input-group">
        <div class="checkbox">
            <input type="checkbox" asp-for="IsSingleClick" />
            <label asp-for="IsSingleClick"></label>
        </div>
    </div>

    <div class="input-group">
        <div class="checkbox">
            <input type="checkbox" asp-for="IsSubscriberRequired" />
            <label asp-for="IsSubscriberRequired"></label>
        </div>
    </div>

    <div id="SubscriberRequiredRegion" @{if (!Model.IsSubscriberRequired) { <text> hidden</text>} }>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="checkbox">
                        <input type="checkbox" asp-for="AddToChain" />
                        <label asp-for="AddToChain" class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <select asp-for="IdChain" class="form-control custom-select" disabled="@(!Model.AddToChain)">
                <option value="@null" selected>Выберите цепочку...</option>
                @foreach (var chain in ViewBag.Chains)
                {
                    <option value="@chain.Key">@chain.Value</option>
                }
            </select>
        </div>

        <br />
    </div>
    
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>