@using SellerBox.ViewModels.Shared
@model MessageButton

<div class="list-group-item d-flex justify-content-between align-items-center messageButton" style="width: 100%">
    @{
        string prefix = !string.IsNullOrWhiteSpace(Model.PropertiesPrefix) ? $"{Model.PropertiesPrefix}.Keyboard[{Model.Row}][{Model.Column}]." : $"Keyboard[{Model.Row}][{Model.Column}].";
    }
    <input name="@($"{prefix}{nameof(MessageButton.Row)}")" type="hidden" value="@Model.Row" />
    <input name="@($"{prefix}{nameof(MessageButton.CanDelete)}")" type="hidden" value="@Model.CanDelete.ToString()" />
    <input name="@($"{prefix}{nameof(MessageButton.Column)}")" type="hidden" value="@Model.Column" />
    <input name="@($"{prefix}{nameof(MessageButton.Text)}")" type="text" value="@Model.Text" style="width: 60%" />

    <select class="custom-select" name="@($"{prefix}{nameof(MessageButton.ButtonColor)}")" style="width: 40%">
        <option value="default" selected="@(Model.ButtonColor == "Default")">default</option>
        <option value="primary" selected="@(Model.ButtonColor == "Primary")">primary</option>
        <option value="positive" selected="@(Model.ButtonColor == "Negative")">positive</option>
        <option value="negative" selected="@(Model.ButtonColor == "Positive")">negative</option>
    </select>

    <button type="button" aria-label="Close" class="close" style="width: 20px" @{if (!Model.CanDelete) { <text> hidden</text>} }>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
