@model WebApplication1.ViewModels.Reposts.EditRepostScenarioViewModel
@{
    ViewData["Title"] = "View";
}
@section scripts {
    <script src="~/lib/site/Reposts/edit.js"></script>
}

<form asp-action="Save" asp-controller="Reposts" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.Id.HasValue)
    {
        <input asp-for="Id" type="hidden" value="@Model.Id" />
    }
    <div class="input-group">
        <div class="input-group-prepend">
            <label asp-for="Name" class="input-group-text"></label>
        </div>
        <input asp-for="Name" type="text" class="form-control" aria-label="Сообщение" placeholder="Название сценария">
    </div>

    <div class="input-group mb-3" id="checkLastPosts">
        <div class="form-check form-check-inline">
            <input asp-for="CheckLastPosts" class="form-check-input" type="radio" data-id="0" value="@false" checked>
            <label class="form-check-label">Конкретный пост</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="CheckLastPosts" class="form-check-input" type="radio" data-id="1" value="@true">
            <label class="form-check-label">Последние</label>
        </div>
    </div>

    <div class="input-group mb-3" id="postList" @{ if (Model.CheckLastPosts) { <text> hidden</text>} }>
        <div class="input-group-prepend">
            <label asp-for="IdPost" class="input-group-text"></label>
        </div>
        <select class="custom-select" asp-for="IdPost">
            <option value="@null" selected>Выберите пост...</option>
            @foreach (KeyValuePair<Guid, string> post in ViewBag.Posts)
            {
                <option value="@post.Key">@post.Value</option>
            }
        </select>
        <div class="input-group-append">
            <button id="refreshPostsButton" class="btn btn-outline-secondary" type="button">Обновить</button>
        </div>
    </div>

    <div id="postsRange" @{ if (!Model.CheckLastPosts) { <text> hidden</text>} }>
        <div class="input-group mb-3">
            <div class="form-check form-check-inline">
                <input asp-for="CheckAllPosts" class="form-check-input" type="radio" data-id="1" value="@false" checked>
                <label class="form-check-label">Последние </label>
                <input type="number" min="0" class="form-control" asp-for="LastPostsCount" id="lastPostsCount">
                <label class="form-check-label"> постов</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="CheckAllPosts" class="form-check-input" type="radio" data-id="0" value="@true">
                <label class="form-check-label">Все</label>
            </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="IdCheckingChain" class="input-group-text"></label>
        </div>
        <select asp-for="IdCheckingChain" class="custom-select">
            <option value="@null" selected>Выберите цепочку...</option>
            @foreach (KeyValuePair<Guid, string> chain in ViewBag.Chains)
            {
                <option value="@chain.Key">@chain.Value</option>
            }
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="IdCheckingChainContent" class="input-group-text"></label>
        </div>
        <select asp-for="IdCheckingChainContent" class="custom-select" disabled="@(!Model.IdCheckingChain.HasValue)">
            <option value="@null" selected>Выберите сообщение в цепочке...</option>
            @if (ViewBag.ChainContents != null)
            {
                foreach (KeyValuePair<Guid, string> chainContent in ViewBag.ChainContents)
                {
                    <option value="@chainContent.Key">@chainContent.Value</option>
                }
            }
        </select>
    </div>

    <label for="dtGroup">Проверять через: </label>
    <div class="input-group" id="dtGroup">
        <div class="input-group-prepend">
            <label asp-for="CheckAfterHours" class="input-group-text"></label>
        </div>
        <input type="number" min="0" class="form-control" asp-for="CheckAfterHours">
        <div class="input-group-prepend">
            <label asp-for="CheckAfterMinutes" class="input-group-text"></label>
        </div>
        <select class="custom-select" asp-for="CheckAfterMinutes">
            <option value="0" selected>00</option>
            @for (int m = 1; m < 60; m++)
            {
                <option value="@m">@m.ToString("00")</option>
            }
        </select>
    </div>

    <br />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="IdGoToChain" class="input-group-text"></label>
        </div>
        <select asp-for="IdGoToChain" class="custom-select">
            <option value="@null" selected>Выберите цепочку...</option>
            @foreach (KeyValuePair<Guid, string> chain in ViewBag.Chains)
            {
                <option value="@chain.Key">@chain.Value</option>
            }
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="IdGoToChain2" class="input-group-text"></label>
        </div>
        <select asp-for="IdGoToChain2" class="custom-select">
            <option value="@null" selected>Выберите цепочку...</option>
            @foreach (KeyValuePair<Guid, string> chain in ViewBag.Chains)
            {
                <option value="@chain.Key">@chain.Value</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>